services:
  - type: web
    name: oanda-dashboard
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: bash start.sh
    envVars:
      - key: OANDA_HOST
        value: https://api-fxpractice.oanda.com
      - key: OANDA_TOKEN
        sync: false
      - key: OANDA_ACCOUNT
        sync: false
